<script>
	function showWeixin() {
		var weixin = document.getElementById("weixin");
		weixin.style="display:block;position: absolute";
	}
	function hideWeixin() {
		var weixin = document.getElementById("weixin");
			weixin.style="display:none";
	}
	function showQQ() {
		var weixin = document.getElementById("qq");
		weixin.style="display:block;position: absolute";
	}
	function hideQQ() {
		var weixin = document.getElementById("qq");
		weixin.style="display:none";
	}
	function showGithub() {
		var weixin = document.getElementById("github");
		weixin.style="display:block;position: absolute";
	}
	function hideGithub() {
		var weixin = document.getElementById("github");
		weixin.style="display:none";
	}
	function showWeibo() {
		var weixin = document.getElementById("weibo");
		weixin.style="display:block;position: absolute";
	}
	function hideWeibo() {
		var weixin = document.getElementById("weibo");
		weixin.style="display:none";
	}
</script>
<div id="sidebar" class="sidebar">
	<header id="masthead" class="site-header" role="banner">
		<div class="site-branding">
			<a href="/"><img src="http://static.xiaomo.info/images/avator.png" alt="" class="img-circle" style="width: 120px;height: 120px;margin-bottom: 20px;margin-left: 10%"></a>
			<h1 class="site-title"><a href="{{ confObj.url }}" rel="home">{{ confObj.title }}</a></h1>
				<p class="site-description">{{ confObj.subtitle }}</p>
				  <div style="margin-top: 20px;padding-left: 20px"><!-- 头像 -->
					  <!-- github -->
					  <a href="https://github.com/qq83387856"><i class="fa fa-github fa-stack-3x" style="font-size: 30px;color: grey" onmouseover="showGithub()" onmouseout="hideGithub()" title="github"></i></a>
					  <img src="http://static.xiaomo.info/images/github.png" alt="" id="github" style="display: none">
                        <!-- weibo -->
					  <a href="http://weibo.com/234129952"><i class="fa fa-weibo fa-stack-3x" style="font-size: 30px;color: grey;padding-left: 10px" onmouseover="showWeibo()" onmouseout="hideWeibo()" title="微博"></i></a>
					  <img src="http://static.xiaomo.info/images/weibo.png" alt="" id="weibo" style="display: none">
                        <!-- QQ -->
					  <img src="http://static.xiaomo.info/images/qq.jpg" alt="" id="qq" style="display: none">
					  <a href="http://wpa.qq.com/msgrd?v=3&uin=83387856&site=qq&menu=yes" target="_blank" title="QQ" onmouseover="showQQ()" onmouseout="hideQQ()"><i class="fa fa-qq fa-stack-3x" style="font-size: 30px;color: grey;padding-left: 10px"></i></a>
					  <!-- weixin -->
					  <i class="fa fa-weixin fa-stack-3x" style="font-size: 30px;color: grey;padding-left: 10px" onmouseover="showWeixin()" onmouseout="hideWeixin()" title="微信"></i>
					  <img src="http://static.xiaomo.info/images/weixin.jpg" alt="" id="weixin" style="display: none">
					  <a href="/feed.xml" title="RSS"><i class="fa fa-rss fa-stack-3x" style="font-size: 30px;color: grey;padding-left: 10px"></i></a>
				  </div>
				<button class="secondary-toggle">菜单和挂件</button>
		</div><!-- .site-branding -->
	</header><!-- .site-header -->
	<div id="secondary" class="secondary">
		<div id="widget-area" class="widget-area" role="complementary">

			{% include "widget/categories.html" %}
		    {% include "widget/archive.html" %}
		    {% include "widget/recent.html" %}
		    {% include "widget/tagcloud.html" %}
		    {% include "widget/text.html" %}
	    </div><!-- .widget-area -->
    </div><!-- .secondary -->
</div><!-- .sidebar -->